*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: rgb(45,45,45);
  
}
.first-container{
    position: relative;
    display: flex;
    transform-style: preserve-3d;
}

#foregroundimage{
    height: 100vh;
    width: 100vw;
    z-index: -10;
}

#backgroundimage{
    width: 200px;
    position: absolute;
    top: 78%;
    left: 10%;
    animation: roll infinite;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    z-index: 5;
}

#backgroundimage2{
    width: 350px;
    position: absolute;
    top: 33%;
    left: 70%;
    animation: roll2 infinite;
    animation-delay: 2s;
    animation-duration: 8s; 
    animation-timing-function: linear;
    z-index: -1;
}

/* @keyframes roll{
    from
    {
        right: 20px;
    }
    to{
        left: 1100px; 
    }
} */

@keyframes roll2{
  from
  {
    right: 0;
  }
  to
  {
   left:  50%;
  }
} 

.content{
    width: 100%;
    position: absolute;
    display: flex;
    left: 80%;
    gap: 40px;
    margin-top: 10px;
    font-size:large;
    cursor: pointer;   
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    scale: 1.3;
}

p{
    color: white;
    margin: 30px;
    padding: 30px;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: large;
}

.head{
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    background-position: center;
    background-image: cover;
    
}

.desc{
    position:absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    color: white;
    letter-spacing: 2px;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    

}

.head1{
    background-image: url("https://www.shutterstock.com/shutterstock/photos/1987326293/display_1500/stock-vector-pirate-ship-moored-on-island-with-treasure-at-night-chest-with-gold-and-shovel-under-full-moon-1987326293.jpg");
    
}

.head2{
    background-image: url("https://media.istockphoto.com/id/1351237326/photo/astronaut-standing-on-moon-facing-towards-camera-with-earth-in-background.jpg?s=2048x2048&w=is&k=20&c=KuB2O6xoCxlkLKvGM-mRPg1mz380pD-bQjvEeHUvUnE=");
}
